In [1]:
import numpy as np 
import pandas as pd

In [2]:
# reading csv data in pandas dataframe 
df = pd.read_csv("https://raw.githubusercontent.com/realpython/python-data-cleaning/master/Datasets/BL-Flickr-Images-Book.csv")

In [3]:
df.head()

,Identifier,Edition Statement,Place of Publication,Date of Publication,Publisher,Title,Author,Contributors,Corporate Author,Corporate Contributors,Former owner,Engraver,Issuance type,Flickr URL,Shelfmarks
0,206,NaN,London,1879 [1878],S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,"FORBES, Walter.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12641.b.30.
1,216,NaN,London; Virtue & Yorston,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12626.cc.2.
2,218,NaN,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of “All for Gr...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12625.dd.1.
3,472,NaN,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.","Appleyard, Ernest Silvanus.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 10369.bbb.15.
4,480,"A new edition, revised, etc.",London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.","BROOME, John Henry.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 9007.d.28.

In [14]:
print(len(df))
print(df.columns)
print("Number of Columsn", len(df.columns))

8287
Index(['Identifier', 'Edition Statement', 'Place of Publication',
       'Date of Publication', 'Publisher', 'Title', 'Author', 'Contributors',
       'Corporate Author', 'Corporate Contributors', 'Former owner',
       'Engraver', 'Issuance type', 'Flickr URL', 'Shelfmarks'],
      dtype='object')
Number of Columsn 15

In [4]:
# Inforamtion about the dataset
# Returns the mean - count ( mode) - standard deviation etc.  
df.describe()

         Identifier  Corporate Author  Corporate Contributors  Engraver
count  8.287000e+03               0.0                     0.0       0.0
mean   2.017344e+06               NaN                     NaN       NaN
std    1.190379e+06               NaN                     NaN       NaN
min    2.060000e+02               NaN                     NaN       NaN
25%    9.157875e+05               NaN                     NaN       NaN
50%    2.043707e+06               NaN                     NaN       NaN
75%    3.047430e+06               NaN                     NaN       NaN
max    4.160339e+06               NaN                     NaN       NaN

In [8]:
# check where null values are present
# isnull() returns the boolean.
df['Corporate Author'].isnull()

0       True
1       True
2       True
3       True
4       True
        ...
8282    True
8283    True
8284    True
8285    True
8286    True
Name: Corporate Author, Length: 8287, dtype: bool

In [20]:
# Dropping Unnecessary column
# Create a list of columns that we want to drop.

colummns_to_drop = ['Edition Statement',      
          'Corporate Author',
          'Corporate Contributors',
          'Former owner',
           'Engraver',
           'Contributors',
           'Issuance type',
           'Shelfmarks']

# inplacerue ==-> Change direcrcty into our object
df.drop(colummns_to_drop, axis=1, inplace=True)

In [21]:
df.head()

,Identifier,Place of Publication,Date of Publication,Publisher,Title,Author,Flickr URL
0,206,London,1879 [1878],S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,http://www.flickr.com/photos/britishlibrary/ta...
1,216,London; Virtue & Yorston,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...
2,218,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of “All for Gr...,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...
3,472,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...
4,480,London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...

In [31]:
# Changing the index of dataframe 
# check if the column is unique or not.

print(df['Identifier'].is_unique)


print(df['Identifier'].unique)

print(df['Identifier'].nunique)


# set index 
df = df.set_index('Indentifier', inplace=True)

True
<bound method Series.unique of 0           206
1           216
2           218
3           472
4           480
         ...
8282    4158088
8283    4158128
8284    4159563
8285    4159587
8286    4160339
Name: Identifier, Length: 8287, dtype: int64>
<bound method IndexOpsMixin.nunique of 0           206
1           216
2           218
3           472
4           480
         ...
8282    4158088
8283    4158128
8284    4159563
8285    4159587
8286    4160339
Name: Identifier, Length: 8287, dtype: int64>

KeyError: "None of ['Indentifier'] are in the columns"

In [32]:
df.head()

,Identifier,Place of Publication,Date of Publication,Publisher,Title,Author,Flickr URL
0,206,London,1879 [1878],S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,http://www.flickr.com/photos/britishlibrary/ta...
1,216,London; Virtue & Yorston,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...
2,218,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of “All for Gr...,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...
3,472,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...
4,480,London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...

In [33]:
# Access columns - Slices and more 
df.loc[14]

Identifier                                                           2836
Place of Publication                                               Savona
Date of Publication                                                  1897
Publisher                                                             NaN
Title                   Cronache Savonesi dal 1500 al 1570 ... Accresc...
Author                                          ABATE, Giovanni Agostino.
Flickr URL              http://www.flickr.com/photos/britishlibrary/ta...
Name: 14, dtype: object

In [34]:
# position based indexing 
df.iloc[14]

Identifier                                                           2836
Place of Publication                                               Savona
Date of Publication                                                  1897
Publisher                                                             NaN
Title                   Cronache Savonesi dal 1500 al 1570 ... Accresc...
Author                                          ABATE, Giovanni Agostino.
Flickr URL              http://www.flickr.com/photos/britishlibrary/ta...
Name: 14, dtype: object

In [35]:
df.head()

,Identifier,Place of Publication,Date of Publication,Publisher,Title,Author,Flickr URL
0,206,London,1879 [1878],S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,http://www.flickr.com/photos/britishlibrary/ta...
1,216,London; Virtue & Yorston,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...
2,218,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of “All for Gr...,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...
3,472,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...
4,480,London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...

In [44]:
df.loc[1905:, 'Date of Publication'].head(10)

1905         1879
1906         1886
1907         1844
1908    1861-1909
1909         1884
1910         1885
1911         1834
1912         1837
1913         1867
1914         1830
Name: Date of Publication, dtype: object

In [45]:
# The date of publciation of a book could be only one.
# The data is not cleaned. 
## 1. Need to remove the date in square bracket. 
## Convert 1892-1894 , as 1892 as start date 
## Remove garabage values with NaN.

In [46]:
# regex to match the date 
r = r'^(\d{4})'

In [47]:
# running regex over 'Date of Publication'

extracted = df['Date of Publication'].str.extract(r, expand=False)

In [49]:
extracted.head()
# Since dtype is object, lets convert to numeric

0    1879
1    1868
2    1869
3    1851
4    1857
Name: Date of Publication, dtype: object

In [52]:
df['Date of Publication'] = pd.to_numeric(extracted)

In [55]:
print(df['Date of Publication'].dtype)

float64

In [56]:
# Finding the percentage of missing values.

df['Date of Publication'].isnull().sum()/ len(df)

0.11717147339205986